@import "compass";
@import "compass/css3/background-size";
@import "compass/css3/transition";

html {
	height: 100%;
	position: relative;
	background-color: #EFEFEF;
	@include background-size(cover);
	@include background-image(linear-gradient(transparent, #DDD));
}

body {
	font: 18px/1 'Jura', sans-serif;
	color: #444;
}

strong {
	font-weight: 600;
	color: black;
	font-size: larger;
}

.name {
	margin: 3em 1em 1em;
	text-align: center;
	h1 {
		font-family: 'Fredericka the Great', cursive;
		font-size: 5em;
		margin: 0;
	}
	h2 {
		margin: 1em 0 0;
		font-size: 1.5em;
		color: #666;
		strong {
			text-transform: uppercase;
		}
	}
}

form {
	margin: 0 auto 1em;
	text-align: center;
	width: 18em;
	@include opacity(0);
	.js & {
		@include transition(opacity 1s 500ms);
		@include opacity(1);
	}
	.on {
		font-size: 1em;
		line-height: 1.5;
		cursor: pointer;
		text-decoration: none;
		height: 1.5em;
		overflow: hidden;
		display: inline-block;
		@include opacity(1);
		@include transition-property(color height opacity);
		@include transition-duration(500ms);
		&:hover {
			color: #999;
			strong { color: inherit; }
		}
	}
	fieldset {
		@include opacity(0);
		@include transition(opacity 500ms);
	}
	&.active {
		.on {
			@include opacity(0);
			height: 0;
		}
		fieldset {
			@include opacity(1);
		}
	}
}

